*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(249, 249, 225);
}

h1{
    font-size: 3rem;
    margin-top: 10%;
}
h1, h2{
    color: teal;
    text-align: center;
    margin: 3% 0;
}


.input-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    gap: 2%;
}


.movieCard-wrapper{
    display: flex;
    justify-content: center;
}

.moviecardContent{
    padding: 10px;
    background-color: lightseagreen;
    border-radius: 5px;
    border: 2px solid salmon;
    padding: 10px;
    width: 33%;
}

h6{
    color: sandybrown;
    font-size: 1rem;
    text-align: justify;
    padding: 4px;
}

#searchBtn{

    display: inline-block;
    outline: 0;
    border: 1px solid lightgoldenrodyellow;
    cursor: pointer;
    font-weight: 600;
    color: rgb(252, 252, 222);
    font-size: 14px;
    height: 38px;
    padding: 10px 50px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,salmon,sandybrown);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
    :hover{
        box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    }
    
}

#yearUp, #yearDown, #bestRate{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: lightgoldenrodyellow;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,teal,sandybrown);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
    :hover{
        box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    }
}